@()
@if(!session.get("userName").equals("")){
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")"></script>
	<script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
	<script src="@routes.Assets.versioned("js/style.js")"></script>
	
	<link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
	<link href="@routes.Assets.versioned("assets/font-awesome/css/font-awesome.css")" rel="stylesheet">
	<!-- <link href="@routes.Assets.versioned("stylesheets/material-design-iconic-font.min.css")" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link href="@routes.Assets.versioned("stylesheets/util.css")" rel="stylesheet">
	<link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">
	
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('@routes.Assets.versioned("images/bg-01.jpg")');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form id="password-form" class="login100-form validate-form" method="post">
					<span class="login100-form-title p-b-49">
						Change Password
					</span>

					<div class="wrap-input100 validate-input m-b-23" id="user-error" data-validate = "Username is required">
						<span class="label-input100">New Password</span>
						<input type="hidden" name="userId" value='@session.get("userId")'>
						<input class="input100" type="password" id="newPassword" name="password" placeholder="Type your new password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="wrap-input100 validate-input"  id="pass-error" data-validate="Password is required">
						<span class="label-input100">Retype Password</span>
						<input class="input100" type="password" id="matchpassword" oninput="matchPassword()" placeholder="Retype your new password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
					<span class="passError" style="color:red;display:none;"></span>
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="button" onclick="passwordSubmit()">change</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script>
$(function(){
	$('input[type="text"]').keydown(function(event){
		if(event.keyCode == 13) {
			event.preventDefault();
		    return false;
		}
	});
});
	
	var passValidate=1;
	function matchPassword(){
		if($('#newPassword').val()!=$('#matchpassword').val()){
			$('.passError').html('');
			$('.passError').html('Password Mismatched').fadeIn();
			$('.passError').html('Password Mismatched').fadeOut(5000);
			passValidate=0;
		}
		else{
			$('.passError').html('');
			$('.passError').html('Password Matched').fadeIn();
			$('.passError').html('Password Matched').fadeOut(5000);
			passValidate=1;
		}
	}
	
	function passwordSubmit(){
		var passStrength=0;
		var passLength=$('#newPassword').val().length;
		if(passLength>=5){
			passStrength++;
		}
		else{
			$('.passError').html('');
			$('.passError').html('Minimum Length Of The Password Is Five(5)').fadeIn();
			$('.passError').html('Minimum Length Of The Password Is Five(5)').fadeOut(5000);
		}
		if($('#newPassword').val()=="" && $('#matchpassword').val()==""){
			$('.passError').html('');
			$('.passError').html('Please Enter Your Password').fadeIn();
			$('.passError').html('Please Enter Your Password').fadeOut(5000);
		}
		if(passValidate=1 && passStrength>=1){
			$('#password-form').attr("action","/changePassword");
			$('#password-form').submit();
		}
	}
	
	</script>
}